@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .not-visible {
    visibility: hidden;
  }
  .menu-inside {
    will-change: transform;
    transition: transform 1s cubic-bezier(1, 0, 0, 1);
  }

  .menu-inside-1 {
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .menu-outside {
    will-change: transform;
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6662ca;
    width: 5px;
    border-radius: 10px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #312e81;
  }

  .news__article:hover .news__article--image img {
    transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.1);
  }
}
